.idea/
.idea/*

lib/
lib/*

*.py[cod]
*.pyc

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

env/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
whois.cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
Будет удалено .env.example
Будет удалено app/comment/
Будет удалено app/database.py
Будет удалено app/entity/
Будет удалено app/general/
Будет удалено app/static/css/styles.css
Будет удалено app/static/img/favicon.ico
Будет удалено app/templates/entity/create.html
Будет удалено app/templates/entity/delete.html
Будет удалено app/templates/entity/update.html
Будет удалено app/templates/entity/view.html
Будет удалено app/templates/form-errors.html
Будет удалено app/templates/form-macros.html
Будет удалено app/templates/messages.html
Будет удалено app/templates/pagination.html
Будет удалено app/utils/
